body {
    display: flex;
    flex-flow: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 560px;
}

div.header {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1F2937;
    color: white;
    justify-content: center;
}

div.header div.navbar {
    display: flex;
    align-items: center;
    padding: 16px 140px;
    gap: 16px;
}

div.header div.navbar img {
    display: flex;
    width: auto;
    height: 40px;
    border-radius: 10px;
}

div.header div.navbar p {
    font-size: 24px;
    font-weight: bold;
}

div.header div.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: auto;
}

div.header div.navbar a {
    text-decoration: none;
    color: white;
}

div.header div.head-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 140px;
    gap: 40px;
}

div.header div.header-intro {
    display: flex;
    flex-flow: column;
    gap: 16px;
    flex: initial;
    width: 600px;
    margin-right: auto;
}

div.header div.header-intro h1,
div.header div.header-intro p {
    margin: 0px;
    margin-block: 0px;
}

div.header div.header-intro h1 {
    font-size: 48px;
    color: #F9FAF8;
}

div.header div.header-intro p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
}

div.header div.header-img {
    display: flex;
    width: 390px;
    height: 260px;
    flex: initial;
    justify-content: flex-end;
}

div.header div.header-img img{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    align-self: flex-start;
}

div.mid-content {
    display: flex;
    flex-flow: column;
}

div.mid-content div.rando-info {
    display: flex;
    justify-content: center;
}

div.mid-content div.rando-info h2{
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

div.mid-content div.img-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 48px;
    padding: 10px 180px;
    
}

div.mid-content div.img-block {
    display: flex;
    flex-flow: column;
    flex: initial;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div.mid-content div.img-block p {
    display: flex;
    width: 200px;
    margin-block: 0;
    font-size: 18px;
    color: #1F2937;
    font-style: italic;
    text-align: center;
}

div.mid-content div.img-block img {
    display: flex;
    object-fit: cover;
    width: 200px;
    height: 200px;
    object-position: 50% 50%;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

div.mid-content div.quote-container {
    display: flex;
    flex-flow: column;
    background-color: #E5E7EB;
    padding: 80px 100px;
    justify-content: center;
    align-items: center;
}